/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                      http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*=========================================================================
    start project with default boilerplate css
    html attribute
===========================================================================*/
/*
*/
.wall {
  background: url(../img/wall.jpg) no-repeat top fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: right top;
}

/*
*/
header #nav {
  /*
  *menu hamburger
  *top right position
  *
  */
}
header #nav ul {
  /*
  *disable dropdown menu
  */
}
header #nav ul .dropdown {
  display: none;
}
header #nav ul .dropdown {
  /*
  *position of dropdown
  *menu dropdown
  **/
  position: absolute;
  top: 40px;
  right: 20px;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 100px;
  border-radius: 3px;
  background-color: aliceblue;
  z-index: 3;
}
header #nav ul .dropdown li {
  list-style-type: none;
}
header #nav ul .dropdown li a {
  text-decoration: none;
  color: #222222;
}
header #nav ul .header__icon {
  list-style-type: none;
}
header #nav ul .header__icon #header__icon {
  display: block;
  border-radius: 3px;
  background-color: #616161;
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
}
header #nav ul .header__icon #header__icon:after {
  content: '';
  margin: 0 auto;
  padding: 0;
  display: block;
  width: 1.2rem;
  height: 0;
  -webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  -moz-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
}
header #nav ul li:hover > .dropdown {
  /*
  *dropdown visible
  */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main {
  /*
*logo society
*resize and position of logo
*/
}
main .logo-home {
  position: absolute;
  top: 200px;
  right: 0;
}
main .logo-home #logo {
  width: 100px;
  height: 100px;
}

/*===================================================
*footer for all page
=====================================================*/
footer h2 {
  font-size: 14px;
}
footer .link {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
footer .link img {
  width: 30px;
  height: 30px;
}

/*===================================================================
*header for contact blog & catalog
=====================================================================*/
#contact, #blog, #catalog {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  /*
*center title
*/
}
#contact header h1, #blog header h1, #catalog header h1 {
  text-align: center;
  font-size: 15px;
}
#contact main, #blog main, #catalog main {
  /*
  *
  *place logo
  */
}
#contact main .logo-home, #blog main .logo-home, #catalog main .logo-home {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
#contact main .logo-home #logo, #blog main .logo-home #logo, #catalog main .logo-home #logo {
  width: 100px;
  height: 100px;
}

/*=====================================================================
*start of contact page
*
*=====================================================================*/
#contact main form {
  /*
  *start form
  */
  padding: 25px;
  margin-top: 50px;
}
#contact main form .field {
  /*
  *size input
  */
  position: relative;
  height: 60px;
  padding: 16px 0 8px 0;
}
#contact main form .field-label {
  /*
  *
  *resize label
  */
  position: relative;
  margin: 0;
  color: #bfbfbf;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
  display: block;
  transform: translateY(24px);
}
#contact main form .field-input {
  /*
  *
  *style of input
  */
  position: relative;
  display: block;
  width: 100%;
  height: 32px;
  padding: 8px 0;
  line-height: 16px;
  font-size: 16px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
  outline: none;
}
#contact main form .field::after, #contact main form .field::before {
  /*
  *
  *style border bottom of input
  */
  content: '';
  height: 2px;
  width: 100%;
  bottom: 6px;
  left: 0;
  position: absolute;
  background-color: #e7e7e7;
}
#contact main form .field-input::after {
  /*
  *
  *try an effect with border bottom
  */
  background-color: #4ba6a3;
  transform: scaleX(0);
  transition: transform 0.3s;
}
#contact main form .field-input::after :hover {
  transform: scaleX(1);
}
#contact main form .is-focused .field-label {
  transform: translateY(0);
  font-size: 12px;
  color: #4ba6a3;
}
#contact main form .field.is-focused:hover {
  transform: scaleX(1);
}
#contact main form .btn-primary {
  /*
  *
  *style of button
  */
  margin-top: 15px;
  padding: 10px 30px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background: #2ECC71;
}
#contact main address {
  width: 250px;
  margin: 0 auto;
}
#contact main #map {
  margin-top: 30px;
  width: 375px;
  height: 375px;
}

/*=============================================================
*start blog page
===============================================================*/
#blog .blog {
  /*
  *size of container
  *
  */
  margin-top: 25px;
  padding: 0 10px 0 10px;
}
#blog .blog .left, #blog .blog .right {
  /*
  *
  *size of all section
  */
  border-bottom: 1px solid grey;
  height: 130px;
  display: flex;
}
#blog .blog .left {
  /*
  *
  *section with left image
  */
}
#blog .blog .left figure {
  margin: 0;
  padding: 0;
}
#blog .blog .left figure img {
  width: 150px;
  height: 150px;
}
#blog .blog .left .text {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 10px;
}
#blog .blog .left .text h2 {
  font-size: 14px;
}
#blog .blog .left .text p {
  font-size: 12px;
  margin: 5px;
}
#blog .blog .left .text p span {
  display: none;
}
#blog .blog .left .text div {
  font-size: 12px;
  color: #282eff;
}
#blog .blog .right {
  /*
  *
  *section with right image
  */
  flex-direction: row-reverse;
}
#blog .blog .right figure {
  margin: 0;
  padding: 0;
}
#blog .blog .right figure img {
  width: 150px;
  height: 150px;
}
#blog .blog .right .text {
  display: flex;
  flex-direction: column;
  padding: 15px 0 0 10px;
}
#blog .blog .right .text h2 {
  font-size: 14px;
}
#blog .blog .right .text p {
  font-size: 12px;
  margin: 5px;
}
#blog .blog .right .text p span {
  display: none;
}
#blog .blog .right .text div {
  font-size: 12px;
  color: #282eff;
  margin-bottom: 5px;
}

/*==================================================================
##################### catalog page
======================================================================*/
#catalog .block {
  margin-top: 65px;
}
#catalog .block .floor {
  display: flex;
}
#catalog .block .floor section {
  width: 150px;
  margin-top: 20px;
  display: flex;
  align-self: auto;
}
#catalog .block .floor section h2 {
  font-size: 17px;
  margin: 0;
  padding: 0;
}
#catalog .block .floor section p {
  font-size: 11px;
}
#catalog .block .floor section .price {
  /*width: 80px;*/
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #ff4e3d;
}
#catalog .block .floor section img {
  margin-left: 10px;
  height: 100px;
  background-size: cover;
}
#catalog .block .floor section .realisation {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
#catalog .block .floor section:nth-child(3), #catalog .block .floor section:nth-child(4) {
  display: none;
}

/*# sourceMappingURL=main.css.map */
